/* setting the default color with var */
:root {
  --inside-color: #2196f3;
  --background-color: #ffff;
}
/* setting the box sizing style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
background-image: url("./assets/images/followbg.jpg");
background-size: cover;
background-attachment: fixed;
background-position: 80%;
}
/* Header and Nav Styles Start */
header {
    padding: 20px 35px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../pro-portfolio/assets/images/designer\ background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}
/* Styling the Background Image for the Navigations */
.content {
display: flex;
flex-wrap: wrap;
margin: auto;
justify-content: space-between;
padding: 0 15px;
align-items: center;
list-style: none;
background-image: url("./assets/images/followbg.jpg");
background-size: cover;
background-attachment: fixed;
background-position: 80%;
position: sticky;
position: -webkit-sticky;
}
/* Styling Chuong Vo Portfolio */
.fancy-link {
text-decoration: none;
color: var(--inside-color);
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
font-size: 40px;
font-weight: bold;

}
.fancy-link::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background: currentColor;
transform: scaleX(.01);
transform-origin: left;
transition: transform 200ms ease-in;
}
.fancy-link:hover::after {
transform: scaleX(1);
}
/* Remove underline for Navigation and color  set to White */
a {
color: var(--background-color);
text-decoration: none;
}
/* Styling the Navigation */
.button {
border: 1px solid var(--inside-color);
background: none;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
margin: 10px;
}
.button-zero {
color: var(--inside-color);
}
.button-zero:hover {
color: var(--background-color)
}
.button {
cursor: pointer;
border: 0;
background: var(--inside-color);
color: var(--background-color);
padding: 1em 1.5em;
position: relative;
z-index: 1;
}
.button + .button {
margin-left: 1em;
}
.button::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
z-index: -1;
transition: transform 200ms ease-in;
}
.button-one::after {
transform: scaleX(0);
transform-origin: right;
}
.button-one:hover::after {
transform: scaleX(1);
transform-origin: left;
}
.button-two::after {
transform: scaleY(0);
transform-origin: bottom;
}
.button-two:hover::after {
transform: scaleY(1);
transform-origin: top;
}
.button-three::after {
transform: scaleY(0);
}
.button-three:hover::after {
transform: scaleY(1);
}
/* About Me Section */
.About-Me {
  width: 100%;
  display: flex;
  padding: 0px;
  background-image: url("./assets/images/followbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
}

.About-MePara1 {
  flex: 1;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  background-image: url("./assets/images/followbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  flex-wrap: wrap;
}

.About-Me .About-MePara1 p {
  font-size: 30px;
  font-weight: bold;
  color: var(--inside-color);
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  flex-wrap: wrap;

}

.About-Me .About-MePara1 p:hover {
  color: var(--inside-color);
  background: #80f321;
  box-shadow: 0 0 10px #1ef33a, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  transform: translate(50%, -120%);
}

.About-MePara2 {
  flex: 4;
  padding: 30px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  color: var(--background-color)
}
.About-MePara3 {
  flex: 4;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.About-MePara4 {
  flex: 4;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.Projects h2 p {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

/* Style the Projects Section */
.Projects {
  position: absolute; left: 100px;
  justify-content: center;
  margin: 300px 0 0 200px;
  font-size: 20px;
  display: flex;
  transform: translate(-50%, -50%);
}
.My-Projects {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
}
.Projects h2 {
  color: var(--inside-color);
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  width: 350px; height: 100px;
  margin: 0 -200px;
}
.Projects h2:hover {
  color: var(--inside-color);
  background: darkslateblue;
  box-shadow: 0 0 10px #1ef33a, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
}
.Projects h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.Projects p {
  color: var(--background-color);
  margin: 50px 0 0 -150px;
}
/* Styling the Images */
.first-img {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  position: absolute; left: 800px;
  margin: -63px auto 0 auto;
}
.second-img {
  display: flex;
  flex-wrap: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute; left: 300px;
  margin: -63px auto 0 auto;
  width: 500px;
  height: 793px;
}
.third-img {
  display: flex;
  flex-wrap: flex;
  flex-direction: row;
  align-items: right;
  justify-content: center;
  position: absolute; left: 800px;
  margin: 331px auto 0 auto;
  height: 400px;
  width: 612px;
  object-fit: cover;
}
.first-img:hover {
  opacity: .5;
  transition: .9;
  display: flex;
}
.second-img:hover {
  opacity: .5;
  transition: .9;
  display: flex;
}
.third-img:hover {
  opacity: .5;
  transition: .9;
  display: flex;
}
/* Styling the footer */
footer{
  position: absolute; top: 500px;
  bottom: -450px;
  height: 10vw;
  width: 0;
  font-family: "Open Sans";
  padding-top: 0px;
  color: coral;
  display: flex;
  flex-wrap: wrap;
  margin: 450px 0 0 250px;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 160px;
  margin: 1px;
  flex-wrap: wrap;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem; 
  display: flex;
  flex-wrap: wrap;
}
.footer-content p{
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  flex-wrap: wrap;
}
.socials li{
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.socials a{
  text-decoration: none;
  color: coral;
  display: flex;
  flex-wrap: wrap;
 
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
  display: flex;
  flex-wrap: wrap;
}
.socials a:hover i{
  color: aqua;
  display: flex;
  flex-wrap: wrap;
}

/* Set up the Screen Resolution to fit on different devices */
@media screen and (max-width: 1000px) {
footer {
  display: flex;
  position: absolute; left: 250px;
  margin: 700px auto;
  }
.img-area {
  padding-left: 500px;
  position:absolute; left: -500px
  } 
header .content button{
  font-size: 10px;
  margin: 0 0;
  padding: 5px;
}
header .content .fancy-link {
  font-size: 10px;
  margin: 0 0;
  padding: 5px;
}
}
@media screen and (max-width: 700px) {
  footer {
    display: flex;
    position: absolute; left: 200px;
  }
}