/* setting the default color with var */
:root {
    --inside-color: yellow;
    --background-color: pink;
}
/* setting the box sizing style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header Styles */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../pro-portfolio/assets/images/designer\ background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}
/* Styling Chuong Vo Portfolio */
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
}
/* Styling Charmander */
.charmander {
  width: 200px;
  height: auto;
  margin: auto auto auto 50px;
}
/* Styling the Navigation */
header a {
  text-decoration: line;
  color: var(--inside-color);
}
/* Positioning the Navigation */
header nav {
  margin: 20px 0;
}
/* Styling the navigation */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--inside-color);
  color: lightcoral;
  border-radius: 15px;

}

/* About Me Style Starts */
.hero {
  background-image: url('..//pro-portfolio/assets/images/designer\ background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  background-position: 80%;
  background-color: var(--background-color);
  
}

.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: var(--inside-color);
  font-size: 18px;
  line-height: 1.2;
}

.ux {
  margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: black;
    position: absolute;
    justify-content: right;
}

.first {
  height: 600px;
  width: auto;
  justify-content: right;
}