/* setting the default color with var */
:root {
    --inside-color: yellow;
    --background-color: pink;
}
/* setting the box sizing style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header and Nav Styles Start */
header {
    padding: 20px 35px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--inside-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--inside-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--inside-color);
    color: var(--background-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* Header and Nav styles End */