/* setting the default color with var */
:root {
  --inside-color: yellow;
  --background-color: pink;
}
/* setting the box sizing style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling the font of Chuong Vo Portfolio */
.fancy-link {
font-size: 40px;
font-weight: bold;
justify-content: space-between;
}
/* Styling the Background Image for the navigation */
.content {
display: flex;
flex-wrap: wrap;
margin: auto;
justify-content: space-between;
padding: 0 15px;
align-items: center;
list-style: none;
background-image: url("./assets/images/followbg.jpg");
background-size: cover;
background-attachment: fixed;
background-position: 80%;
position: sticky;
position: -webkit-sticky;
}
/* Styling Chuong Vo Portfolio */
.fancy-link {
text-decoration: none;
color: #ffff;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.fancy-link::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background: currentColor;
transform: scaleX(.01);
transform-origin: left;
transition: transform 200ms ease-in;
}
.fancy-link:hover::after {
transform: scaleX(1);
}
/* Remove underline for Navigation and color  set to White */
a {
color: #ffff;
text-decoration: none;
}
/* Styling the Navigation */
.button {
border: 1px solid #3498ab;
background: none;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
margin: 10px;
}
.button-zero {
color: #3498db;
}
.button-zero:hover {
color: #fff
}
.button {
cursor: pointer;
border: 0;
background: #3498db;
color: white;
padding: 1em 1.5em;
position: relative;
z-index: 1;
}
.button + .button {
margin-left: 1em;
}
.button::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
z-index: -1;
transition: transform 200ms ease-in;
}
.button-one::after {
transform: scaleX(0);
transform-origin: right;
}
.button-one:hover::after {
transform: scaleX(1);
transform-origin: left;
}
.button-two::after {
transform: scaleY(0);
transform-origin: bottom;
}
.button-two:hover::after {
transform: scaleY(1);
transform-origin: top;
}
.button-three::after {
transform: scaleY(0);
}
.button-three:hover::after {
transform: scaleY(1);
}
/* About Me Section */
.About-Me {
  width: 100%;
  display: flex;
  background: #ffc728;
  padding: 0px;
  background-image: url("./assets/images/followbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}


.About-MePara1 {
  flex: 1;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  background-image: url("./assets/images/followbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}
.About-MePara2 {
  flex: 4;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.About-MePara3 {
  flex: 4;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.About-MePara4 {
  flex: 4;
  padding: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.Projects {
  position: absolute; left: 100px;
  justify-content: flex-start;
  margin: 140px 0 0 0;
  font-size: 20px;
  display: flex;
  transform: translate(-50%, -50%);
  flex-wrap: wrap; 

}
.My-Projects {
  display: flex;
  background: coral;
  font-family: 'Roboto', sans-serif;
  
}
.Projects h2 {
  color: #2196f3;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
 
}
.Projects h2:hover {
  color: #255784;
  background: #80f321;
  box-shadow: 0 0 10px #1ef33a, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
}
.Projects h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/* Styling the Images */
.first-img {
  display: flex;
  flex-wrap: row;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  position: absolute; left: 1000px;
  margin: -63px auto 0 auto;
}

.second-img {
  display: flex;
  flex-wrap: row;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  position: absolute; left: 500px;
  margin: -63px auto 0 auto;
  width: 500px;
  height: 793px;

}
.third-img {
  display: flex;
  flex-wrap: flex;
  flex-direction: row;
  align-items: right;
  justify-content: center;
  position: absolute; left: 1000px;
  margin: 331px auto 0 auto;
  height: 400px;
  width: 612px;
  object-fit: cover;
}
.first-img:hover {
  opacity: .5;
  transition: .9;
  display: flex;
}
.second-img:hover {
  opacity: .5;
  transition: .9;
  display: flex;
}
.third-img:hover {
  opacity: .5;
  transition: .9;
  display: flex;
}
footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute; top: 400px;
  bottom: -650px;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: coral;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 160px;
  margin: 1px;

}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  
}
.footer-content p{
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
  
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: coral;
  
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;

}


















@media screen and (max-width: 768px) {
  .About-Me {
    flex-direction: column;
  
}