/* setting the default color with var */
:root {
  --inside-color: yellow;
  --background-color: pink;
}
/* setting the box sizing style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling the font of Chuong Vo Portfolio */
.fancy-link {
font-size: 40px;
font-weight: bold;
justify-content: space-between;
}

.content {
display: flex;
flex-wrap: wrap;
margin: auto;
justify-content: space-between;
padding: 0 15px;
align-items: center;
list-style: none;
background-image: url("./assets/images/ui-ux.jpeg");
background-size: cover;
background-attachment: fixed;
background-position: 80%;

}
/* Styling Chuong Vo Portfolio */
.fancy-link {
text-decoration: none;
color: #ee6352;
position: relative;
}

.fancy-link::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background: currentColor;
transform: scaleX(.01);
transform-origin: left;
transition: transform 200ms ease-in;
}

.fancy-link:hover::after {
transform: scaleX(1);
}


.button {
border: 1px solid #3498ab;
background: none;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
margin: 10px;
}

.button-zero {
color: #3498db;
}

.button-zero:hover {
color: #fff
}


.button {
cursor: pointer;
border: 0;
background: #ee6352;
color: white;
padding: 1em 1.5em;
position: relative;
z-index: 1;
}

.button + .button {
margin-left: 1em;
}

.button::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
z-index: -1;
transition: transform 200ms ease-in;
}

.button-one::after {
transform: scaleX(0);
transform-origin: right;
}

.button-one:hover::after {
transform: scaleX(1);
transform-origin: left;
}

.button-two::after {
transform: scaleY(0);
transform-origin: bottom;
}

.button-two:hover::after {
transform: scaleY(1);
transform-origin: top;
}

.button-three::after {
transform: scaleY(0);
}

.button-three:hover::after {
transform: scaleY(1);
}

.chuong h2 {
color: #ee6352;
}

.bg-image {

display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: flex-start;
font-family: sans-serif;
background-image: url("../Pro-Portfolio/assets/images/ui-ux.jpeg");
background-size: cover;
width: 100vh;
height: 100vh;
margin: auto;





}

.chuong {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%,-50%);
width: 600px;
padding: 30px;
background: #fff;
border-radius: 10px;
box-shadow: 0 15px 50px rgba(0,0,0,.2);


}

.circle {
width: 200px;
height: 200px;
background: url(./assets/images/chuong\ vo.jpg);
border-radius: 50%;
background-size: cover;
float: left;
shape-outside: circle();
margin: 30px 30px 30px 0;

}

p {
margin: 0;
padding: 0;
text-align: justify;
line-height: 22px;
}

/* Styling the Navigation 
header a {
text-decoration: line;
color: var(--inside-color);
}
/* Positioning the Navigation 
header nav {
margin: 20px 0;
}
/* Styling the navigation 
header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li a {
padding: 10px 15px;
font-weight: lighter;
font-size: 1.55vw;
}

header nav ul li a:hover {
background: var(--inside-color);
color: lightcoral;
border-radius: 15px;
text-shadow: none;
}

/* About Me Style Starts 
.hero {
background-image: url('..//pro-portfolio/assets/images/designer\ background.jpg');
background-size: cover;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: flex-end;
background-attachment: fixed;
background-position: 80%;
background-color: var(--background-color);

}

.hero-cta {
width: 35%;
text-align: center;
margin: 3.5%;
color: var(--inside-color);
font-size: 18px;
line-height: 1.2;
}

.ux {
margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
  color: black;
  position: absolute;
  justify-content: right;
}

.first {
height: 600px;
width: auto;
justify-content: right;
}
